NEXT_PUBLIC_USER_API__V1_ENDPOINT=https://localhost:15000/user/api/v1
NEXT_PUBLIC_AI_API__V1_ENDPOINT=https://localhost:15000/ai/api/v1
NEXT_PUBLIC_VOICE_API__V1_ENDPOINT=https://localhost:15000/voice/api/v1
NEXTAUTH_SECRET="70q5QCEYvdpd/h7GN93XsP1RGgpCKuOSw4Q9eV0qzAU="
AUTH_TRUST_HOST=true
AUTH_GOOGLE_ID=1013590163858-c0huvhfh6p3he4l8hvadoe9u7rd3ssrb.apps.googleusercontent.com
AUTH_GOOGLE_SECRET=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
NODE_TLS_REJECT_UNAUTHORIZED=0