# Public endpoints
NEXT_PUBLIC_USER_API__V1_ENDPOINT=https://apigateway/user/api/v1
NEXT_PUBLIC_AI_API__V1_ENDPOINT=https://apigateway/ai/api/v1
NEXT_PUBLIC_AI_API__V2_ENDPOINT=https://apigateway/ai/api/v2
NEXT_PUBLIC_EXTENSION_API__V1_ENDPOINT=https://apigateway/extension

# Auth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=""
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
AUTH_TRUST_HOST=true

# Server binding
PORT=3000
